/* Importa la paleta */
@import "rose-pine.css";

/* Estilos generales */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Fondo, padding y radio comunes a todos los módulos */
#workspaces,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray,
#idle_inhibitor,
#backlight,
#custom-power {
    padding: 0 10px;
    border-radius: 8px;
    background-color: @surface;
    margin: 0 3px;
}

/* --- Workspaces --- */
#workspaces button {
    padding: 0 5px;
    color: @subtle;
    background: transparent;
}
#workspaces button.active {
    color: @rose;
    background-color: @highlightMed;
    border-radius: 8px;
}
#workspaces button:hover {
    background: @overlay;
    color: @text;
}

/* --- Bluetooth --- */
#bluetooth {
    color: @iris;
    border-bottom: 2px solid @iris;
}

/* --- Network --- */
#network {
    color: @gold;
    border-bottom: 2px solid @gold;
}

/* --- Battery --- */
#battery {
    color: @pine;
    border-bottom: 2px solid @pine;
}
#battery.charging,
#battery.plugged {
    color: @foam;
    border-bottom: 2px solid @foam;
}
#battery.critical:not(.charging) {
    color: @love;
    border-bottom: 2px solid @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*--- Audio --- */
#pulseaudio {
    color: @foam;
    border-bottom: 2px solid @foam;
    padding: 0 10px;
    border-radius: 8px;
    background-color: @surface;
}

/* --- Reloj --- */
#clock {
    color: @rose;
    border-bottom: 2px solid @rose;
}

/* --- Idle Inhibitor --- */
#idle_inhibitor {
    color: @subtle;
}
#idle_inhibitor.activated {
    color: @love;
    border-bottom: 2px solid @love;
}

/* --- Backlight --- */
#backlight {
    color: @gold;
    border-bottom: 2px solid @gold;
}

/* --- Power --- */
#custom-power {
    color: @love;
    border-bottom: 2px solid @love;
    min-width: 28px;
    font-size: 18px;
}

