/* Importa la paleta */
@import "rose-pine.css";

/* Estilos generales */
* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font", FontAwesome, sans-serif;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.5s;
}

/* Fondo, padding y radio comunes a todos los módulos */
#workspaces,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#tray,
#idle_inhibitor,
#backlight,
#power-profiles-daemon,
#custom-arch,
#custom-power,
#custom-logo { /* <-- Añadí tu nuevo módulo aquí */
    padding: 0 10px;
    border-radius: 8px;
    background-color: @surface;
    margin: 0 3px;
}
#workspaces button:hover {
    background: @overlay;
    color: @text;
}

/* --- Bluetooth --- */
#bluetooth {
    color: @iris;
}

/* --- Network --- */
#network {
    color: @gold;
}

/* --- Battery --- */
#battery {
    color: @pine;
}
#battery.charging,
#battery.plugged {
    color: @foam;
}
#battery.critical:not(.charging) {
    color: @love;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* --- Pulseaudio --- */
#pulseaudio {
    color: @foam;
}

/* --- Reloj --- */
#clock {
    color: @rose;
}

/* --- Idle Inhibitor --- */
#idle_inhibitor {
    color: @subtle;
}
#idle_inhibitor.activated {
    color: @love;
}

/* --- Backlight --- */
#backlight {
    color: @gold;
}

/* --- Power --- */
#custom-power {
    color: @love;
    min-width: 28px;
    font-size: 18px;
}

/*-- arch logo --*/
#custom-arch {
    color: @love;
    min-width: 28px;
    font-size: 18px;
}

/* --- Módulo de la Balanza (Logo) --- */
/* NUEVA SECCIÓN PARA TU MÓDULO */
#custom-logo {
    color: @foam; /* Color celeste como en la imagen */
    font-size: 18px;
}
