* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(30, 30, 46, 0.90);
}

button {
	border-radius: 0;
	border-color: #cba6f7;
	text-decoration-color: #cdd6f4;
	color: #cdd6f4;
	background-color: #181825;
	border-style: solid;
	border-width: 1px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	/* 20% Overlay 2, 80% mantle */
	background-color: rgb(48, 50, 66);
	outline-style: none;
}

#lock {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/lock.svg");
}

#logout {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/logout.svg")
}

#suspend {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/suspend.svg");
}

#hibernate {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/hibernate.svg");
}

#shutdown {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/shutdown.svg");
}

#reboot {
    background-image: url("/home/shaddai/.config/wlogout/icons/wleave/mocha/pink/reboot.svg");
}
